 
 <style>
  .chooseSize{
   letter-spacing: 1px;
  }
 </style>
<div class="parentChooseOne">


 <div class="chooseOne">
  <button><i class="fa-solid chooseSize fa-caret-down">&nbsp;choose</i> </button>
  <div class="chooseOne-options">
    <a href="/auto">Automobile</a>
    <a href="/civil">Civil</a>
    <a href="/cse">CSE</a>
    <a href="/ece">Electricals</a>
    <a href="/ele">Electronics</a>  
     <a href="/mech">Mechanical</a>
  </div>
</div>

</div>