


<div id="chooseone" class="mb-5">

<ul  class="nav nav-pills">
  <li class="mx-2">
    <a  style="text-decoration:none;"   aria-current="page"  href="/cse"><button  type="button" class="btn btn-outline-dark mb-2 "  name="button">Comp_r sci_e</button></a>
  </li>
  <li class="nav-item mx-2">
    <a style="text-decoration:none;" class="" href="/ele"><button type="button"  class="btn btn-outline-dark " name="button">Electrical</button></a>
  </li>
  <li class="nav-item mx-2">
    <a  style="text-decoration:none;"  aria-current="page"  href="/ece"><button type="button" class="btn btn-outline-dark"  name="button">Electronics</button></a>
  </li>
  <li class="nav-item mx-2">
    <a  style="text-decoration:none;"  aria-current="page"  href="/mech"><button type="button" class="btn btn-outline-dark "  name="button">Mechanical</button></a>
  </li>
  <li class="nav-item mx-2">
    <a  style="text-decoration:none;"  aria-current="page"  href="/civil"><button type="button" class="btn btn-outline-dark px-4"  name="button">Civil</button></a>
  </li>
  <li class="nav-item mx-2">
    <a  style="text-decoration:none;"  aria-current="page"  href="/auto"><button type="button" class="btn btn-outline-dark"  name="button">Automobiles</button></a>
  </li>
</ul>

</div>
