 
 
<div class="parentChooseOne">


 <div class="chooseOne">
  <button>Choose Stream</button>
  <div class="chooseOne-options">
    <a href="/cse">Computer Science</a>
    <a href="/ece">Electricals</a>
    <a href="/ele">Electronics</a>
    <a href="/mech">Mechanical</a>
    <a href="/civil">Civil</a>
    <a href="/auto">Automobile</a>
     
  </div>
</div>

</div>