<div id="footer">
<div class="container">
  <div class="row  text-center">
 <div class="col">

   <div class="row">
     <div class="col-3">
       <h1 id="contact-left">Contact us</h1>
     </div>

     <div class="col-9">
       <div class="navbar-header">
         <h1  id="right-brand"class="navbar-brand "><a  id="footerbrand-color" class="" href="/">SAndS</a>
           <br><p style="color:#fff;" id="brand-paragraph">share and study</p></h1>
       </div>
     </div>

     </div>

<form  action="/contactus" method="post">
   <div class="row g-3">
     <div class="col-1 ">
       <input type="text" name="dn"  placeholder="Name" required>
       <label class="" for=""></label>
     </div>
     </div>

     <div class="row g-3">
       <div class="col-1">
         <input type="email" name="de" placeholder="Email" required>
               <label class="" for=""></label>
       </div>
       </div>

  <div class="row g-3">
         <div class="col-2">
         <textarea name="dm" rows="3" cols="40" placeholder="message" required></textarea>
         <label class="mb-2px" for=""></label>
         <div class="col-1">
           <button   id="submit-color" class="btn px-3 btn-outline-light  btn-light" type="submit" name="button">submit</button>

         </div>
         </div>

   </form>
     <div class="col-11">
     <div class="contact-number">
       <p><i class="fas fa-phone-volume m-2"></i> 7786543201</p>
       <p><i class="fas fa-envelope  m-2"> </i> <a class="link-light" href="https://gmail.com">suranv6j@gmai.com</a></p>
     </div>
    </div>
  </div>

<div class="row" id="">
  <div class="col-9">

  </div>
  <div  class="col-3">
    <ul class="nav text-center">
      <li class="nav-item px-4"><a  class="" href="https://www.linkedin.com/in/dilip-kumar-b20100230/"><i class="fab  fa-linkedin"></i></a></li>
      <li class="nav-item px-4"><a  href="https://www.github.com/dkraj235"><i class="fab fa-github"></i></a></li>
      <li class="nav-item px-4"><a  href="https://youtu.be/Ls7i4PqmRSU?t=18"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
</div>

</div>
</div>

<hr class="horizonrtal">

    <p class="copyright" >© 2023 Copyright:All rights reserved SAndS</p>

</div>
