<div id="footer">
  <div class="container">
    <form  action="/contactus" method="post">

     <div class="contactUs">
        <h5 class="contactTitle">Contact us</h5> 
        <input type="email" name="de" placeholder="Email" required> 
        <textarea name="dm" id="message" rows="3" cols="21" placeholder="message" required></textarea>
        <div class="limitChar" id="char-count">Characters remaining: 100</div>
        <button   id="submit-color" class="btn  btn-light  " type="submit" name="button">submit</button>
      </div> 
    </form>
    
           
 <div class="footer-nav">
    <div class="contact-number">
    <p class="fparagraph" ><i class="fas fa-phone-volume"></i> 7700809823</p>
    <p class="fparagraph " ><i class="fas fa-envelope "> </i>  <span><a class="link-light" href="https://gmail.com">dilip06228@gmai.com</a></span> </p>
    </div>
   <div class="footer-media">
    <a  class="fnav " href="https://www.linkedin.com/in/dilip-kumar-b20100230/"><i id="dilip" class="fab px-4  fa-linkedin"></i></a>
    <a  class="fnav "  href="https://www.github.com/dkraj235"><i class="fab px-2 fa-github"></i></a>
    <a  class="fnav "  href="https://youtube.com"><i class="fab px-4  fa-youtube"></i></a>
   </div> 
 </div>
 
 </div>
 <p class="copyright mb-0" >© 2023 Copyright:All rights reserved <span style="font-size: 1rem; color:white;"> <a style=" color:white;" href="/">SAndS</a></span></p>
 
</div>


<script>
  const input = document.getElementById('message');
  const charCount = document.getElementById('char-count');
  const maxChars = 100; // Set your desired character limit here

  input.addEventListener('input', function () {
      const currentChars = input.value.length;
      const remainingChars = maxChars - currentChars;

      if (remainingChars >= 0) {
          charCount.textContent = `Characters remaining: ${remainingChars}`;
      } else {
          // If the user exceeds the limit, truncate the input value
          input.value = input.value.substring(0, maxChars);
      }
  });
</script>