<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Study Resources</title>
   <link rel="icon" href="images/icon.ico" type="image/icon type">

    <!-- Google fonts -->
     <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;500&display=swap'); </style>
     <style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); </style>
     <style> @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=MonteCarlo&display=swap'); </style>

      <!--bootstrap Styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Advance css -->
     <link rel="stylesheet" href="css/styles.css">

     <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  bootstrap script  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>


<nav id="container" class="navbar navbar-white justify-content-end">
    <div id="navBar" class="container">
      <div class="navbar-header">

        <h1 class="navbar-brand "><a id="brand-color" href="/">SAndS</a>
        <br><p id="brand-paragraph">share and study</p></h1>
      </div>

      <ul id="change-menucolor" class="nav ">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">RESOURCES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   href="/login"><i class="fas fa-cloud-arrow-up  upload-size"><span  class="doundrline">upload</span></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/collegues">COLLEGUES</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/aboutus">ABOUT US</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/contactus">CONTACT US</a>
        </li> -->
      </ul>
    </div>
  </nav>


  <body>


    </script>




    <div class="container">
