<!DOCTYPE html>
<html lang="en">
<meta>
<!-- user-scalable=no -->
    <meta name="viewport" content=" width=device-width, initial-scale=1.0">
    
    <meta charset="UTF-8">
    <title>Share And Study</title>
   <link rel="icon" href="images/icon.ico" type="image/icon type"> 
    <!-- Google fonts -->
     <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;500&display=swap'); </style>
     <style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); </style>
     <style> @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=MonteCarlo&display=swap'); </style>
     <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;1,200;1,400;1,500;1,600&family=Libre+Baskerville:wght@400;900&family=Libre+Bodoni:wght@400;500;700&family=Lora:ital,wght@0,500;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500&family=Varela&display=swap" rel="stylesheet">

      <!--bootstrap Styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Advance css -->
     <link rel="stylesheet" href="css/styles.css">

     <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  bootstrap script  -->

 

  </head>

  <div id="desk" class="navbar">
    <div class="logo">
      <div class="logoItems">
        <span class="textLogo"><a class="sands" href="/">SAndS</a></span>
        <span class="fullName">share and study</span>
      </div> 
    
    </div> 
 <div class="navbarMenu mob_none">
  <ul>
      <li><a class="menuItem" href="/">Home</a></li>
      <li><a class="menuItem" href="/resources">Resource</a></li>
      <li><a class="menuItem" href="/sharenotes"><i class="fa-solid fa-blue fa-cloud-arrow-up"></i> Upload</a></li>
      <li><a class="menuItem" href="/collegues">Collegues</a></li>
  </ul>
 </div>


 
<span class="open desk_none" style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fa-solid menuSize fa-bars"></i></span>
<div id="mySidenav" class="sidenav desk_none">
   <a   href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a  class="menuItem menuMargin" href="/">Home</a>
   <a class="menuItem" href="/resources">Resource</a>
  <a class="menuItem" href="/login"><i class="fa-solid fa-blue fa-cloud-arrow-up"></i> Upload</a>
  <a class="menuItem" href="/collegues">Collegues</a>
</div>
   
</div>




 





  <body>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.display = "block";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
      }
      </script>
  

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>




    <!-- <div class="container"> -->
