<%- include("partials/header") -%>


<!-- <h1 id="greeting-contact">Hi, there!</h1>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
  </div>

</div>

<div id="contact">

  <div class="contactus">
    <h1 class="contact-heading">Contact Us</h1>
  </div>


  <div class="formsection">
    <form>

  <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputText" placeholder="enter your name" autocomplete="off"" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1  " placeholder="enter your email" autocomplete="off">
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Age</label>
    <input type="text" class="form-control" id="exampleInputText" placeholder="enter  your age" >
  </div>

  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
  <label class="form-check-label" for="flexRadioDefault1">
    Male
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label mb-3" for="flexRadioDefault2">
    Female
  </label>
</div>


  <button type="submit" class="btn  btn-outline-dark btn-lg btn-block  mt-3">Submit</button>

</form>


  </div>

</div> -->
<%- include("partials/footer") -%>
