
<%- include("partials/header") -%>

<div class="carosolParent">
    
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
          <div class="carousel-item active ">

              <img  class="carosoulImages" src="images/ebook.png"  alt="...">
              <h2 class="heading">Welcome to Your Resource Sharing Platform</h2>
              <p class="mob_none" style="color: #fff; font-size:1rem;" >Share and explore valuable resources with the community.</p>
          </div>
    
          <div class="carousel-item ">
          <img  class="carosoulImages" src="images/book1.png"  alt="...">
          <h2 class="heading">Begin studying and downloading thousands of resources</h2>

          </div>
    
          <div class="carousel-item">
           
             <img  class="carosoulImages" src="images/girl_study.png"   alt="...">
             <h2 class="heading">Create a daily study schedule that ensures consistent learning </h2>
          </div>
        </div>

      <button class="carousel-control-prev ccpcolor" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next ccpcolor " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

 
</div>

<!--  horizontal line  -->

<hr class="f-horizonrtal"> 

<div class="department">
  <span class="departmentTitle">Departments</span>
  <div class="departmentItems dpborder"> 
      <div class="deparmentImg">
        <a class="dpttitles" href="/mech"> <img class="cseimg" src="images/mechpng.png" alt="cse_img"></a>
    </div>
    <div class="dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles" href="/mech">Mechanical</a> </span>
      <span class="departmentCt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo eaque facere necessitatibus deserunt ab inventore maiores, esse aperiam dolores voluptates doloremque? Aliquid deleniti perspiciatis rerum impedit nihil, fugiat beatae ex quia consequatur!</span>  
    </div>
    </div>
  
  <div class="departmentItems dpborder"> 
    <div class="contentbelow1 dptItems" >
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/ece">Electronics</a> </span>
      <span class="departmentCt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo eaque facere necessitatibus deserunt ab inventore maiores, esse aperiam dolores voluptates doloremque? Aliquid deleniti perspiciatis rerum impedit nihil, fugiat beatae ex quia consequatur!</span>  
    </div>
    <div class="imagef1 deparmentImg">
      <a class="dpttitles"  href="/ece"><img class="cseimg imgleftmargin" src="images/electronic.jpg" alt="cse_img"></a>
    </div>
  </div>
  <div class="departmentItems dpborder"> 
    <div class="deparmentImg">
      <a class="dpttitles"  href="/ele"><img class="cseimg" src="images/electrical.jpg" alt="cse_img"></a>
    </div>
    <div class="dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/ele">Electricals</a> </span>
      <span class="departmentCt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo eaque facere necessitatibus deserunt ab inventore maiores, esse aperiam dolores voluptates doloremque? Aliquid deleniti perspiciatis rerum impedit nihil, fugiat beatae ex quia consequatur!</span>  
    </div> 
   </div>
   
  <div class="departmentItems  "> 
    <div class="contentbelow1 dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/cse">Computer Science</a> </span>
      <span class="departmentCt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo eaque facere necessitatibus deserunt ab inventore maiores, esse aperiam dolores voluptates doloremque? Aliquid deleniti perspiciatis rerum impedit nihil, fugiat beatae ex quia consequatur!</span>  
    </div>
    <div class="imagef1 deparmentImg" >
      <a class="dpttitles"  href="/cse"> <img   class="cseimg imgleftmargin" src="images/cse.png" alt="cse_img"></a>
    </div>
  </div>

</div>





<hr class="f-horizonrtal">
<%- include("partials/footer") -%>
