
<%- include("partials/header") -%>

<div class="carosolParent">
    
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
          <div class="carousel-item active ">

            <img  class="carosoulImages" src="images/ebook.png"  alt="..."> 
 
                <h2 class="heading ">Share and explore valuable resources with the community </h2>
            


               </div>
    
          <div class="carousel-item ">
          
            <img  class="carosoulImages" src="images/girl_study.png"   alt="...">
          <h2 class="heading">Begin studying and downloading thousands of resources</h2>

          </div>
    
          <div class="carousel-item">
            <img  class="carosoulImages" src="images/book1.png"  alt="...">
              <h2 class="heading">Create a daily study schedule that ensures consistent learning </h2>
          </div>
        </div>

      <button class="carousel-control-prev ccpcolor" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next ccpcolor " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

 
</div>

<!--  horizontal line  -->

<hr class="f-horizonrtal"> 

<div class="department">
  <span class="departmentTitle">Departments</span>
  <div class="departmentItems dpborder"> 
      <div class="deparmentImg">
        <a class="dpttitles" href="/mech"> <img class="cseimg" src="images/mechpng.png" alt="cse_img"></a>
    </div>
    <div class="dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles" href="/mech">Mechanical</a> </span>
      <span class="departmentCt">Mechanical engineering is a diverse and foundational field of engineering that focuses on designing, analyzing, and manufacturing mechanical systems. It encompasses a wide range of applications, including machinery, vehicles, energy systems, and consumer products. Mechanical engineers work on projects that involve the principles of mechanics, thermodynamics, materials science, and robotics</span>  
    </div>
    </div>
  
  <div class="departmentItems dpborder"> 
    <div class="contentbelow1 dptItems" >
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/ece">Electronics</a> </span>
      <span class="departmentCt">Electronics engineering is a specialized branch of electrical engineering that focuses on designing and developing electronic circuits and devices. Electronics engineers work on everything from microelectronics and integrated circuits to consumer electronics and telecommunications equipment. </span>  
    </div>
    <div class="imagef1 deparmentImg">
      <a class="dpttitles"  href="/ece"><img class="cseimg imgleftmargin" src="images/electronic.jpg" alt="cse_img"></a>
    </div>
  </div>
  <div class="departmentItems dpborder"> 
    <div class="deparmentImg">
      <a class="dpttitles"  href="/ele"><img class="cseimg" src="images/electrical.jpg" alt="cse_img"></a>
    </div>
    <div class="dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/ele">Electricals</a> </span>
      <span class="departmentCt">Electrical engineering is centered on the study and application of electricity, electronics, and electromagnetism. Electrical engineers design and develop electrical systems, circuits, and devices. They are vital in fields like power generation and distribution, telecommunications, electronics manufacturing, and control systems.</span>  
    </div> 
   </div>
   
  <div class="departmentItems  "> 
    <div class="contentbelow1 dptItems">
      <span class="departmentItemsTitles"><a class="dpttitles"  href="/cse">Computer Science</a> </span>
      <span class="departmentCt">Computer Science Engineering is a dynamic field at the intersection of computer science and engineering principles. It involves the design, development, and maintenance of computer systems, software, and networks. Computer Science Engineers work on creating cutting-edge software applications, developing algorithms, managing databases, and ensuring cybersecurity.</span>  
    </div>
    <div class="imagef1 deparmentImg" >
      <a class="dpttitles"  href="/cse"> <img   class="cseimg imgleftmargin" src="images/cse.png" alt="cse_img"></a>
    </div>
  </div>

</div>





<hr class="f-horizonrtal">
<%- include("partials/footer") -%>
