
<%- include("partials/header") -%>

  <div id="carouselExample" class="carousel slide"  data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="heading">Download thousands of resources in the form of PDFs</h2>
        <div class="home-image">
          <img  class="home-image" src="images/ebuuk.png" class="d-block w-100" alt="...">
        </div>
      </div>

      <div class="carousel-item container-fluid">
        <h2 class="heading">Start Study and Download thousands of resources</h2>
     <div class="home-image">
      <img  class="home-image" src="images/gstudy.png" class="d-block w-100" alt="...">
        </div>

      </div>

      <div class="carousel-item container-fluid">
        <h2 class="heading">Make a Schedule for Study every single Day and Enjoy yourself</h2>
        <div class="home-image">
         <img  class="home-image" src="images/book1.png" class="d-block w-100" alt="...">
           </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

<!--  horizontal line  -->

<hr class="f-horizonrtal">

<section id="department">
  <div class="departmentclass">
    <h1 class="department-heading">Deparment</h1>
  </div>

  <div class="container text-center ">
        <div class="row  mt-5">

          <div class="col-6 col-mid-12">
            <a href="/cse"><img class="department-image" src="images/cse.png" alt="cse_image"></a>
          </div>

          <div class="col-6  col-mid-12">
            <div class="deparment-text">
            <div class=" mb-4">
              <a href="/cse"><h1><span  class="subject">Computer Science</span></h1></a>
            </div>
              <p>Lorem ipsum dolor sit, amet consectetur , ores reiciendis. Reiciendis rem neque quibusdam ullam porro laudantium debitis voluptatum iure!
               <!-- <a href="/cse">Read More</a></p> -->
            </div>
          </div>

        </div>

        <div class="row  mt-5">
          <div class="col-6  col-mid-12">
            <div class="deparment-text">
            <div class=" mb-4">
              <a href="/ece"><h1 ><span  class="subject">Electronics</span> </h1></a>
              </div>
              <p class="align-left">Lorem ipsum dolor sit, amet consectetur  itaque beatae ipsam ex inventore, ores reiciendis. Reiciendis rem neque quibusdam ullam porro laudantium debitis voluptatum iure!

            </div>
          </div>
          <div class="col-6  col-mid-12">
            <a href="/ece"><img class="department-image" src="images/electronic.jpg" alt="cse_image"></a>

            </div>
        </div>
        <div class="row  mt-5">

          <div class="col-6  col-mid-12">
          <a href="/ele"><img class="department-image" src="images/electrical.jpg" alt="electrical_image"></a>
          </div>

          <div class="col-6  col-mid-12">
            <div class="deparment-text">
              <div class=" mb-4">
              <a href="/ele"><h1><span  class="subject">Electrical</span></h1></a>
              </div>
              <p>Lorem ipsum dolor sit, amet consectetur  itaque beatae ipsam ex inventore, ores reiciendis. Reiciendis rem neque quibusdam ullam porro laudantium debitis voluptatum iure!
               <!-- <a href="/ele">Read More</a></p> -->
            </div>
          </div>

        </div>

    <div class="row  mt-5">
      <div class="col-6">
        <div class="deparment-text">
          <div class=" mb-4">
          <a href="/mech"><h1><span  class="subject">Mechanical</span></h1></a>
          </div>
          <p class="align-left">Lorem ipsum dolor sit, amet consectetur  itaque beatae ipsam ex inventore, ores reiciendis. Reiciendis rem neque quibusdam ullam porro laudantium debitis voluptatum iure!
           <!-- <a href="/mech">Read More</a></p> -->
        </div>
      </div>
      <div class="col-6">
        <a href="/mech"><img class="department-image" src="images/mechpng.png" alt="cse_image"></a>
        </div>
     

</div>

</section>

<hr class="f-horizonrtal">
<%- include("partials/footer") -%>
