<%- include('partials/header') %>

<section  style="background-color:#f5f5f5;" class="form-signin">
  <h1 class="docenter">Login</h1> 

          <form action="/login" method="POST"> 
            <div class="form-floating">
              <input type="email" class="form-control" name="username" placeholder="example@gmail.com" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" placeholder="password" required>
              <label for="password">Password</label>
            </div>
             <button type="submit" class="w-100 btn-lg btn btn-outline-dark">Login</button>
          </form>
    
 
<div class=" m-3">
  <p>New user? <a href="/register">Create an account</a></p>
</div>

</section>



<%- include("partials/footer") -%>
