  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;   
}
body{
    min-width: 100%;
    /* background: linear-gradient(to bottom, #8d8787, #808080);     */
    /* background-color: #ff9f43 ; */
    background-color: #95a5a6 ;
    background-repeat: none;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center; 
    filter: brightness(100%);
}

.efuflix{
  text-decoration: none;
  color: #95a5a6; 
}

.efuflix:hover{
   color: #b2070a;
}
/* CSS for the visit_efuflix text logo */
.visit_efuflix {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Set your desired font-family */
  font-size: 24px;
  font-weight: bold;  
  text-transform: uppercase;  
  letter-spacing: 2px; 
  animation: pulse 1.5s infinite; 
   
}
.visit_efuflix:hover{ 
  text-decoration: underline;
  color:#fff;
 
}

/*  */

.educol{
  width: 70%;
  display: flex;
  flex-direction: column;  
  color: #333; 
}

/* Base styles */
.eduLandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.eduheading { 
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.edudescription {
  font-size: 18px;
  margin: 0;
}




/*  */



 
.mob_none{
  display: block;
}
.desk_none{
  display:  none;
}

 

.menuSize{  
  color: #fff;
  font-size: 2.5rem;
  margin-right: 25px;
} 

.sidenav{
  height: 50vh;
  border-radius: 15px;
}
.sidenav {
  display: none;
  width: 250px;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #95a5a6 ;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  padding: 10px;
}

.menuMargin{
  margin-top: 20px;
}

.sidenav a:hover {
  color: #ece8e8 ;
  background-color: #34495e ;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; 
}
 
.navbar{
  margin-top: 0;
  background-color: #34495e ;
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  width: 100vw; 
 
}

.logo{
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex: 7;
}

.logoItems{
 padding: 0 20px;
 display: flex;
 flex-direction: column; 
}

.logoItems:hover{
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #95a5a6 ;
  color:#ffff;
  cursor: pointer;

}
 
.textLogo{
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.5rem; 
  font-weight: 900;   
  font-family: 'Libre Baskerville', serif;
  
}
.sands:hover{
  color:#fff;
  filter: drop-shadow(10px 10px 20px #34495e );
}
.sands{
  text-decoration: none;
  color: #fff;
}

.fullName{
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.95rem;
  font-family: 'Libre Bodoni', serif;
}

 
.menuItem{ 
  padding: 10px ;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; 
  letter-spacing: 2px;
  font-family: 'Varela', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3;
}

 

.dpborder{ 
  border: none;
}

.dpborder:hover{  
  border-bottom: 1px solid #fff; 
}

 
.pdf-image { 
  border-radius: 100%;
}
/*Navbar Menu  */

 

.navbarMenu ul{
  display: flex;
  margin-left: 30px;
}
.navbarMenu ul li {
  align-items: center;
  list-style-type: none;
  max-height: auto;
}
.menuItem:hover{ 
   color: #fff; 
  border-radius: 5px;
  background-color: #95a5a6  ; 
}
.menuItem{ 
  padding: 10px ; 
  text-decoration: none;
  text-transform: uppercase;
  color:#fff; 
  letter-spacing: 2px;
  font-family: 'Libre Bodoni', serif;
  font-size: 1.2rem;
  font-weight: 400; 
}

.uploadfont{
  font-family: 'Libre Bodoni', serif;
  font-weight: 400; 
}

/* Carosoul   */

.heading{
  font-size: 2rem;
  color: #d8d6d6;
  width: fit-content;
  block-size: fit-content;
  font-weight: 600;
  padding: 20px 10px 0px;
  margin: auto auto;
  width: 80%;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  box-sizing: content-box;
}

.carosoulImages{
  text-align: center;
  margin: auto 40%;
  height: 200px;
  padding: 10px;
  max-width: 20%;
  cursor: pointer;
  filter: brightness(110%); 
  
}
 
.carosoulImages:hover{
  filter: hue-rotate(45deg);
}

.carosolParent{
  background: linear-gradient( to bottom, #95a5a6  , #34495e  );  
  border-radius: 10px;
  height: 370px;
  margin: 100px 20px 50px;
  padding-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

} 
.smallSize{
  font-size: 0.5rem;
}
 
.ccpcolor{
  background-color: none;
 
}
.ccpcolor:hover{
 background-color: inherit;
}



.find-resurces{
    position: absolute;
    margin-top: 5em;
    right: 0;
    bottom: 5;
}

.first_image{
  width: 100px;
}

/* ///////////////////////////////////////////////////////horizontal line////////////////////// */
/* horizontal line */

.f-horizonrtal{
    margin: 50px auto 20px;
    width: 3%;
    font-weight: 900;
    text-align: center;
    border-top: 5px dashed #000000 ;
    display: none;
}


 
/* Department */

.deparment{ 
  margin: 50px 20px;
}

.departmentTitle{
  margin: 3s0px 20px;
  padding: 20px;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Libre Bodoni', serif;
  letter-spacing: 3px;
  color: #34495e;

}
.departmentTitle:hover{
  filter: hue-rotate(45deg);
}
 

.departmentItemsTitles{
  margin:10px 20px;
  min-height: 2rem;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Libre Baskerville', serif;
   
}

.departmentItemsTitles:hover{
  animation: pulse 1.5s infinite; 
}

.dpttitles:hover{
  color: #34495e;
  padding: 0;
  filter: drop-shadow(10px 10px 20px #000);
}
 

.dptItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.departmentItems{
  margin: 20px 20px; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deparmentImg{
  width: 100%; 
}
 
.departmentCt{
  width: 50%;
  margin-bottom: 20px;
  text-align: left;  
  font-family: 'Lora', serif; 
}
.departmentCt:hover{ 
  filter: saturate(3);
  width: 60%;

}
.cseimg{ 
 border-radius: 5px;
 height: 200px;
 width: 200px;
} 
.cseimg:hover{ 
  filter: drop-shadow(10px 10px 20px #020202);
}
.dpttitles{
  text-decoration: none;
  color: #fff;
 
}
@keyframes pulse {
  0%, 90% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
 
 
/* Contact us */
  /* top right-left bottom */
 
#sharednotes-heading{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-weight: bolder;
  font-size: 3em;
  line-height: 2;
  letter-spacing: 3px;
}

#shareNotes{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.subject{
  border: 7px;
  color:#394867;
  /* box-shadow: 0px 2px 5px #9BA4B4; */
}
.subject:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 .formsection{
   font-weight:2;
   font-family: 'Ubuntu', sans-serif;
 }

 
 /* deopdown for branch */

 #dropdown-text{
   text-align: left;
   list-style-type: none;
 }

#semester{
  font-size: 4em;
  color:#000;
}

.dropdown-semester{
  color:blue;
}

#footer form input, textarea {
 background-color: #F7F7F7;

}

#contact form input, textarea{
   background-color: #F7F7F7;
}

.btn{
  color:#fff;
  background-color: #34495e;
}

.btn:hover{ 
  color: #fff;
  background-color: #34495e ;
  border: 2px solid #95a5a6;
}

 /* Footer */
  
 
.chooseOne {
  right: 10%;
  z-index: 2;
  display: inline-block;
  margin-top: 10px;
  position: absolute;

}

 

button{
  border:none;
  border-radius:5px;
  padding:10px 15px;
  font-size:15px;
  cursor:pointer;
}

button:hover{
  background-color:#34495e;
}

.chooseOne-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#95a5a6 ;
  border-radius:5px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
}

.chooseOne:hover .chooseOne-options {
  display: block;
}

.chooseOne-options a {
  display: block;
  color: #fff; 
  text-decoration: none;
  padding:5px 25px;
}

.chooseOne-options a:hover {
  color: #e7e3e3;
  background-color: #34495e;
  border-radius:5px;
}


 #footer{  
  margin: 5px 0px 0px;
  background: #34495e;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 10% 0; 
 }

 .container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.footer-media{
  display: flex;

}

 .contactUs{
  margin: 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-evenly;
} 
 
 #footer form input, textarea { 
  padding: 10px;
  margin-bottom:5px;
  border-radius: 8px; 
  background-color: #F7F7F7;

}
 
.footer-nav{
  display: flex;
  flex-direction: column; 
}

 
.contactTitle{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
 

#submit-color:hover{
background:#2C3639;
outline: #000;
color:#fff; 
}
/* new style  */

.contactUs{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.fnav{
  padding-top: 10px;
  font-size: 2rem;
}

.fnav:hover{
  filter: invert(#000 to #fff);
  filter:  contrast(30)
}

.horizonrtal{
text-align: center;
width: 5%;
margin: 10px auto 0px;
border-top: 5px dashed #fff;
}

/* Font-awesome */
.fa-color{
  color:#6F38C5;
}


.copyright{
  /* width: 100%: */
  margin-top: 2rem;               
  text-align: center;
  font-size: x-small;
  color:#D8D8D8;
}

/* uploaded files styling */

.resources-section{
  margin: 50px;
}

.notes_img{
  margin-top: 3rem;
  width:50%;
  height: 50%;
}

.branchNotes-heading{

  padding: 0px 15px 0px;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 25px; 
  margin-bottom: 25px;
}

.docenter{
  text-align: center;
}
.form-signin {
  position: relative;
  left: 70%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; max-width: 330px;
  padding: 15px; 
}

 
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register-copyright{
  margin:100px;
}


.content-heading{
  color:#3C4048;
}

 
.card{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  margin: 10px 15px;
  width: 18rem;
  background-color: #95a5a6; 
}
.card:hover{ 
 background-color: #34495e ;
}

.pdf-image { 
  height: 105px;
}
.pdf-image:hover { 
  opacity: 30%;
}
 




/* userprofile */
.friend{ 
   letter-spacing: 3px;
   font-family: 'Merriweather', serif;
   font-size: 2em; 
   line-height: 1.5;
   font-weight: bolder;
}
.friend p{
font-family: 'MonteCarlo', cursive;
}


/* addprofile */ 

.doundrline:hover {
  text-decoration: underline;
}
 
/* rsources */
.deskRow{
  margin-left: 20px;
  margin-top: 70px;
}
 

/* mobile */

/* -------------------------------------------Responsiveness--------------------------------------------------------------------- */

  


/* smartphone landscape screen */

  
/* @media (min-width: 320px) and (max-width: 480px) {
  
  
} */
@media (min-device-width : 280px) and (max-device-width : 670px){
 
  
.desk_none{
  display: block;
}

.mob_none{
  display: none;
}
 
  .menuSize{
    font-size: 2rem;
    margin-right: 0px;
  } 
  .menuMargin{
    margin-top: 60px;
  }
  .sidenav{
    height: 35vh ;
  }

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .navbar{ 
    padding: 0px 20px;
  }
 
.logo{
  flex: 3;
}

.logoItems{
  padding: 0px; 
 }
 
 

.carosoulImages{ 
  margin: auto 10%; 
  max-width: 80%;   
}
.heading{
  display: none;
}

.carosolParent{
  padding-top: 20%;  
  padding: 50px;
  height: 250px;
  margin: 50px 10px 50px;   

}

.f-horizonrtal{ 
  width: 10%; 
}

/* Deparments */
 
.departmentTitle{
  margin: 40px 20px;
  padding: 20px;
  font-size: 2.85rem; 
  letter-spacing: 2px;  

}

.departmentItemsTitles{
  margin: 10px 10px;  
  font-size: 2.1rem;

}
  
.departmentItems{ 
  flex-direction: column;  
}
   
.deparmentImg{
  width: 100%; 
}
 
 
.departmentCt{
  width: 90%; 
}
.departmentCt:hover{
  width: 95%;
}
.cseimg{  
 width: 250px;
} 

.cseimg:hover{
  width: 245px;
}
.dpttitles{ 
  text-decoration: none;
  color: #fff;
}
 
 

.imagef1{
  order: 1;
}

.contentbelow1{
    order: 2;
} 
/* footer */

.container{ 
  display: flex;
  flex-direction: column;  
}
#footer{ 
   padding: 0;
}
 
.footer-nav{
  margin-top: 30px;
  display: flex; 
}

.contactUs{
  margin: 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: flex-start;
}

#allresources-mobile{ 
  width: 100%;
}

.mobileresources{
  margin-top: 65px;
  display: flex;
  justify-content: center;
}
.mobilerow{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}
.branchNotes-heading{
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: 700;
}

.form-signin{ 
  margin: auto auto;
  align-self: center; 
  left: 0%; 
  margin-top: 50px;
  margin-bottom: 50px;

}

/* collegues */
.allCard{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

 
}
 
@media only screen and (min-device-width: 540px)   and (max-device-width: 720px)  {

       #carouselExample {
          margin-top: 5%;
        }
       
        .profile-margin{
          margin-left: 0px;
        }

        .form-signin {
          margin-top: 50px;
          
        }
      
        
                    
      }




/* desktop and laptop */
@media only screen 
and (min-width : 1024px) {
  #carouselExample {
    margin: 20px 0 0 0;
    width: 100%;
  }
  .form-signin{
     left: 70%;
     margin-bottom: 50px;
  }

  #footer{
    min-width: 100vw;
  }
}
 