html {
    min-height: 100%;
    position: relative;
  }


body{
    overflow-x: hidden;
    text-align: center;
    /* background: #f8f9fa; */
    background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: initial;
    background-color: #bdbdbd;
}
   /* font-family: 'MonteCarlo', cursive;
    font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
} */

.container{
  margin: auto;
  padding: 0;
}

/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */

.navbar {
    margin: 0;
    padding: 0;
    /* padding-bottom: 15px; */
    border: 0;
    border-radius: 0;
    /* margin-bottom: 0; */
    font-size: 12px;
    letter-spacing: 5px;
}

a:hover, a:active, a:visited, a:link{
    text-decoration: none;
}

.navbar-brand{
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 1.5;

}


#brand-color{
  /* font-family: 'MonteCarlo', cursive; */
     font-weight: bolder;
     color:#000;
     /* border-radius: 3px; */
     box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
  /* background: #fff;
border-radius: 7px;
box-shadow: 0 2px 5px #ccc;
padding: 10px;
width: 240px;
margin: 16px;
float: left; */
  /* color:#2C3333; */


#brand-paragraph{
    font-size: 1rem;
    color: #000;
}
#fbrand-paragraph{
  font-size: 0.5rem;
  color: #fff;
}

.heading{
    height: 150px;
    font-family:  sans-serif;
    color:#FAF8F1;
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 1.5;
}

#change-menucolor li a{

  color:#434242;
  font-weight: bold;
  font-size: 1rem;
  font-family: Roboto,Arial,sans-serif;
}

#change-menucolor li:first-child{
  border-radius: 3px;
  background-color:#EAEAEA;
  opacity: 70%;
  /* font-weight: bold; */

}

#change-menucolor li a:hover{
  text-decoration: underline;
  color:#222222;

}

/*Carrousol styling  */
#carouselExample{
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 3px;
  /* box-shadow: 0 2px 5px #ccc; */
  margin:0px 80px 0px;
  background: #8d8d8d ;
  /* border-color: 3f37c9 #566A6E; */
}

.home-image {
  height: 180px;
  border-radius: 100%;
  margin: 10px;
  z-index: 3;
}


.find-resurces{
    position: absolute;
    margin-top: 5em;
    right: 0;
    bottom: 5;
}

.first_image{
  width: 100px;
}

/* ///////////////////////////////////////////////////////horizontal line////////////////////// */
/* horizontal line */

.f-horizonrtal{
   margin: 100px auto 0px;
    width: 5%;
    text-align: center;
    border-top: 5px dashed #000 ;
}

/* Department */

#department{
  margin: 50px auto 0;
  width: 80%;
  text-align: center;

}

.departmentclass{
    margin-bottom: 20px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.department-heading{
  /* background: #323232; */
  color:#323232;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  text-align:center;
  font-size: 5em;
  line-height: 2;
  letter-spacing:3px;
}

.department-image{
  margin-bottom: 50px;
  width:220px;
  height: 220px;
  border-radius:12%;
}

.deparment-text{
  text-align: left;
  color:#000;
  font-family: 'Merriweather', serif;

}


/* Contact us */
  /* top right-left bottom */


#sharednotes-heading{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-weight: bolder;
  font-size: 3em;
  line-height: 2;
  letter-spacing: 3px;
}

#shareNotes{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.subject{
  border: 7px;
  color:#394867;
  /* box-shadow: 0px 2px 5px #9BA4B4; */
}
.subject:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 .formsection{
   font-weight:2;
   font-family: 'Ubuntu', sans-serif;
 }


 /* deopdown for branch */

 #dropdown-text{
   text-align: left;
   list-style-type: none;
 }

#semester{
  font-size: 4em;
  color:#000;
}

.dropdown-semester{
  color:blue;
}

#footer form input, textarea {
 background-color: #F7F7F7;

}

#contact form input, textarea{
   background-color: #F7F7F7;
}

 /* Footer */

 #footer{
  margin: 50px 0 0;
  background: #000;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 2% 10% 0;
 }


/* input.input-box, textarea { background: cyan; }  */
 #footer form input, textarea {
  background-color: #F7F7F7;

}



#footerbrand-color:hover{
  text-decoration: underline;
  font-weight: bolder;
}

#footerbrand-color{
  font-size: 3rem;
  color:#FCFFE7;
}
.footer-nav{
  margin-left: 50%;
}

#submit-color{
  color:#000;
}

#submit-color:hover{
background:#2C3639;
color:#fff;
}

.fnav:hover{
 font-size: 12px;
}

.horizonrtal{
text-align: center;
width: 5%;
margin: 10px auto 0px;
border-top: 5px dashed #fff;
}

/* Font-awesome */
.fa-color{
  color:#6F38C5;
}


.copyright{
  /* width: 100%: */
  margin-top: 2rem;               
  text-align: center;
  font-size: x-small;
  color:#D8D8D8;
}




/* uploaded files styling */


/* contact page */


/* #chooseone {
  margin-left: 20%;
} */




.resources-section{
  margin: 50px;
}

.notes_img{
  margin-top: 3rem;
  width:50%;
  height: 50%;
}

.branchNotes-heading{

  padding: 0 15px 15px;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
}


.form-signin {
  position: relative;
  left:70%;
  /* float:right; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; max-width: 330px;
  padding: 15px;
}

/* #form-login{
  margin-bottom: 50px;
} */

.form-signin .form-floating:focus-within {
  /* z-index: 2; */
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register-copyright{
  margin:100px;
}


.content-heading{
  color:#3C4048;
}


/* .cshadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

.pdf-image {
  width: auto;
  height: 105px;
}
.pdf-image:hover {
  width: 110px;
  opacity: 30%;
}
.resource-card{
  width: 18rem;
  background-color:#DDDDDD;
}

.cshadow:hover { 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; max-width: 350px;
}



.upload-size{
  font-size: 4;
}

/* userprofile */
.friend{
  /* font-family: 'MonteCarlo', cursive; */
   letter-spacing: 3px;
   font-family: 'Merriweather', serif;
   font-size: 2em;
   /* padding: 0 10px 15px; */
   line-height: 1.5;
   font-weight: bolder;
}
.friend p{
font-family: 'MonteCarlo', cursive;
}


/* addprofile */
.profile-margin{
  margin-left: 150px;
}

.addprofilediv {
        height: 255px;
        line-height: 255px;
        text-align: center;
    }

.addprofile {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


.doundrline:hover {
  text-decoration: underline;
}

/* style="width: 18rem; text-align:left; background:#ccc"p-4 mb-5 mx-5  */
#imagestyle{
  padding: 6px;
  width:18rem;
  text-align: left;
  background-color: #ccc;
}

/* desktop and laptop */
@media only screen 
and (min-width : 1024px) {
  #carouselExample {
    margin: 20px 0 0 0;
    width: 100%;
  }
}

/* smartphone landscape screen */

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {

                   #carouselExample {
                      margin-top: 5%;
                    }
                    .form-signin {
                      margin: 10% 0% 0%;
                      left:3%;
                    }
                    .profile-margin{
                      margin-left: 0px;
                    }
                    
               }




/* @media  screen and (max-width: 600px)  */
/* smartphone landscape and portrait  */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  #carouselExample {
    margin: 30px 0 0 20px;
    width: 90%;
  }

  .home-image {
    /* height: 180px; */
    /* border-radius: 100%; */
    padding: 10px;
    height: 200px;
    /* z-index: 3; */
  }
  .heading{
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.5;
}

  .container{
    margin-left:20px;
    padding: 0;
  } */
  
 .navbar-brand{

  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1.25;
}

#brand-color{
  margin-top: 20px;
  padding: 20px 0 0 40px;
  /* padding-top: 20px;
  padding-left: 15px; */
}

#change-menucolor li a{
  padding-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}
#change-menucolor li:first-child{
  color:#000;
  opacity: 100%;
  background-color:#bdbdbd;

}

#department{
  margin: auto;
  text-align: center;
  width: 90%;

}
.department-heading{
  font-size: 3em;
}
 .department-image{
  margin-bottom: 50px;
  margin-right:10px;
  width:90%;
  height: 200px;
  /* border-radius:12%; */
}

.deparment-text{
  margin-right:5px;
  width:90%;
}

/* footer mobile  */
.footer-nav{
  margin-left: 0%;
}

#chooseone {
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 0%;
}

#allresources-mobile{
  margin-left: 0%;
}
.resource-card{
  width: 10rem;
  background-color:#DDDDDD;
}

.form-signin {
  margin: 10% 0% 0;
  left:5%;
}

.profile-margin{
  margin-left: 12%;
}



}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 1024px) {
  #carouselExample {
    margin-top: 10%;
  }
  #chooseone {
  margin-top: 10%;
}

  .form-signin {
    margin: 10% 0% 29%;
    left:50%;
  }

  .profile-margin{
    margin-left: 0px;
  }
  
	
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 820px) 
and (max-device-width : 1180px) 
and (orientation : landscape) {
  #carouselExample {
    margin-top: 5%;
  }
  #chooseone {
    margin-top: 5%;
  }

	.form-signin {
    margin: 10% 0% 10%;
    left:55%;

  }
  .profile-margin{
    margin-left: 0px;
  }
  


}